<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Completed</th>
    </tr>

    <tr>
        <td>
            <%- specificTodo.id -%>
        </td>
        <td>
            <%- specificTodo.name %>
        </td>
        <td>
            <%- specificTodo.description %>
        </td>
        <td>
            <%- specificTodo.completed %>
        </td>
    </tr>
   </table>
